@charset "UTF-8";

@media (max-width: 1300px) {
  .projects-page__inner,
  .projects-page__inner-hiden {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .projects-page__box {
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .company__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .company__img {
    margin: 0 auto;
  }

  .company__img > img {
    max-width: 100%;
  }

  .company__content {
    margin: 0 auto 40px;
  }

  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__protect {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    text-align: center;
  }

  .about__intro-box {
    min-width: 327px;
  }
}

@media (max-width: 1080px) {
  .product__slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product__slider-min {
    width: 100%;
  }

  .product__slider-max > .swiper-wrapper > .swiper-slide > img {
    max-width: 100%;
  }

  .product__slider-min {
    margin-top: 9px;
  }

  .product__slider-max > .swiper-button-next,
  .swiper-container-rtl,
  .swiper-button-prev {
    top: 93%;
  }

  .product__slider-max > .swiper-button-prev,
  .swiper-container-rtl,
  .swiper-button-prev {
    top: 93%;
  }
}

@media (max-width: 992px) {
  .main {
    min-height: 600px;
  }

  .services__inner {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__slider-img > img {
    max-height: 340px;
  }

  .footer__social {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px 0 68px;
  }

  .footer__inner {
    padding: 87px 0 90px;
  }

  .footer__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }

  .product__slider-max {
    max-width: 100%;
  }

  .product__slider-max > .swiper-wrapper > .swiper-slide {
    text-align: center;
  }

  .values__inner {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .benefits__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .benefits__list {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }

  .benefits__list li + li {
    margin-top: 25px;
  }

  .benefits__list + .benefits__list {
    margin-top: 25px;
  }
}

@media (max-width: 970px) {
  .about {
    padding-bottom: 130px;
  }

  .about__intro-container {
    position: relative;
    max-width: 290px;
    margin: 0 auto;
    top: 99%;
    bottom: 6px;
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .about__intro-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px  30px;
  }

  .about__intro-inner > .about__intro-box:nth-child(2)::after,
  .about__intro-inner > .about__intro-box:nth-child(2)::before {
    display: block;
    position: relative;
    width: 150px;
    height: 1px;
    margin: 34px auto;
  }
}

@media (max-width: 813px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 50px;
    height: 27px;
    z-index: 3;
    background-color: inherit;
  }

  .header__burger span {
    background: #FEDA22;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 12px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background: #FEDA22;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active {
    width: 25px;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12px;
    width: 25px;
    background: #555555;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 12px;
    width: 25px;
    background: #555555;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    /*для прокрутки меню, когда оно не помещается в экран*/
    overflow: auto;
    background: #2e2e2ee1;
    padding: 125px 0px 20px 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    padding: 8px 25px;
  }

  .burger__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }

  .burger__contact > a {
    padding: 10px 0;
    width: 290px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #FEDA22;
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    color: #FFFFFF;
  }

  .burger__contact > a > img {
    margin-right: 16px;
  }

  .header__contact {
    display: none;
  }

  .header__list > li.current > a {
    background-color: inherit;
  }

  .header__list > li.current {
    background: #FEDA22;
  }

  .header.scrolled > .container > .header__inner > .header__menu > ul > li.current > a {
    color: #2E2E2E;
  }

  .header.scrolled > .container > .header__inner > .header__menu > ul > li > a {
    color: #fff;
  }

  .header-page > .container > .header__inner > .header__menu > ul > li > a {
    color: #fff;
  }

  .header__list > li + li {
    margin-left: 0;
  }

  .projects__slider-img > img {
    height: 309px;
  }
}

@media (max-width: 778px) {
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    display: none;
  }

  .product__slider-max > .swiper-button-next,
  .swiper-container-rtl,
  .swiper-button-prev {
    display: none;
  }

  .product__slider-max > .swiper-button-prev,
  .swiper-container-rtl,
  .swiper-button-prev {
    display: none;
  }

  .product__slider {
    margin-bottom: 40px;
    min-height: auto;
  }
}

@media (max-width: 768px) {
  .footer__social > a + a {
    margin-left: 23px;
  }
}

@media (max-width: 680px) {
  .header {
    top: 18px;
  }

  .main {
    min-height: 588px;
    padding: 130px 0 70px;
    background-position: 100% 0px;
  }

  .main__title {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 31px;
  }

  .main__descr {
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
  }

  .main__descr > span {
    top: 21px;
    font-size: 15px;
    text-align: center;
  }

  .services {
    padding: 135px 0 120px;
  }

  .services__box-content {
    font-size: 15px;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }

  .services__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .title::before,
  .title::after {
    width: 87px;
    height: 1.5px;
    content: '';
    position: absolute;
    background-color: #feda22;
    margin: 0;
  }

  .title::before {
    left: -15px;
  }

  .title::after {
    right: -15px;
  }

  .company__info > p {
    font-size: 15px;
    text-align: center;
  }

  .company__info > p + p {
    margin-top: 25px;
  }

  .company__btn {
    text-align: center;
  }

  .services__box-img {
    text-align: center;
  }

  .services__box-img img {
    max-width: 72%;
    height: auto;
    margin: 0 auto;
  }

  .projects__swiper {
    display: none;
  }

  .projects__slider-img > img {
    height: auto;
  }

  .projects__slider-img::after {
    opacity: 0.5;
  }

  .projects__slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .projects__header-link-pc {
    display: none;
  }

  .projects__header-link-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }

  .projects__inner-mobile {
    display: block;
  }

  .projects__slider-img > img {
    max-height: none;
  }

  .projects__header {
    display: block;
  }

  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__info > p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
  }

  .projects-page {
    padding: 130px 0 40px;
  }

  .projects-page {
    margin-top: 40px;
  }

  .projects-page__box-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product__title::before,
  .product__title::after {
    display: none;
  }

  .breadcrumbs {
    padding-bottom: 45px;
  }

  .product__info-inner {
    padding: 89px 15px 90px;
    text-align: center;
  }

  .product__info-text {
    margin: 35px 0;
  }

  .product__info-list {
    text-align: left;
  }

  .info {
    display: none;
  }

  .values {
    margin-bottom: 130px;
  }

  .benefits__inner {
    padding: 80px 12px;
  }

  .benefits__container {
    padding: 0;
  }

  .benefits__title {
    margin-bottom: 35px;
  }

  .benefits__list > li {
    font-size: 15px;
    padding-left: 26px;
  }

  .benefits__list > li::before {
    background-image: url(../img/about/benefits/arrow-mobile.svg);
    width: 14px;
    height: 11px;
  }
}

@media (max-width: 640px) {
  .services__inner {
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
    row-gap: 95px;
  }

  .projects__slider-content {
    padding: 0 15px;
    bottom: 17px;
  }

  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__social > a + a {
    margin: 0;
    margin-top: 25px;
  }

  .footer__social > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .projects-page__box-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .tabs-min {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tabs-min li + li {
    margin: 0;
    margin-left: 10px;
  }

  .tabs-min li:nth-child(3),
  .tabs-min li:nth-child(4) {
    display: none;
  }

  .groups-data > div.active {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tabs-max > div > img {
    max-width: 100%;
  }

  .projects-page__box-header {
    position: relative;
  }

  .projects-page__box-header-link {
    position: absolute;
    bottom: 24px;
    right: 14px;
  }

  .projects-page__box-header {
    padding: 24px 14px;
  }

  .product__slider {
    display: none;
  }

  .product__slider-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .product__slider-mobile > ul {
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 10px;
  }

  .product__slider-mobile > ul > li {
    text-align: center;
  }

  .breadcrumbs__nav li.full {
    display: none;
  }

  .breadcrumbs__nav li.mobile {
    display: block;
  }

  .breadcrumbs__nav li > a {
    font-size: 13px;
  }

  .breadcrumbs__nav li.current > a {
    font-weight: normal;
  }

  .breadcrumbs__nav > span {
    margin: 0 6px;
    font-size: 10px;
  }

  .breadcrumbs__nav {
    position: relative;
    left: -10px;
  }

  .values__inner {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 70px;
  }

  .values__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .main {
    background-position: 75% 0px;
  }

  .company__btn-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__intro-img img {
    height: 241px;
  }
}

@media (max-width: 490px) {
  .projects__slider-link {
    position: absolute;
    bottom: 0;
    right: 15px;
  }

  .projects__slider-info > h4 {
    max-width: 243px;
  }
}